

<div class="container shadow mt-5 w-7">
  <h2>Log in</h2>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
      <div class="form-control mt-3">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="form-control mt-3">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div>
        <%= f.submit "Log in", class: "btn btn-primary m-3" %>
      </div>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>
