<div class="container">
  <div class="row">
    <% @trainers.each do |trainer| %>
      <div class="col-6 col-md-4">
        <div class="card m-3 shadow">
          <%= image_tag trainer.photo_url , height: 300, class: "card-img-top object-fit-cover" %>
          <div class="card-body">
            <h5 class="card-title"><%= trainer.name %></h5>
            <p class="card-text"><%= trainer.category.name %></p>
            <p>Amount: <%= humanized_money_with_symbol(trainer.price) %></p>
            <%= link_to "More details", trainer_path(trainer), class: "btn btn-outline-success" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
